@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@1000&family=Gasoek+One&family=Unbounded:wght@500&display=swap');

#quizcontainer {
	position: relative;
	display: inline-block;
	place-items: center;
    margin-top: 1%;
}

h3 {
    position: relative;
	margin-left: auto;
    top: 25px;
    margin-top: 200px;
	text-align: center;
}

.restart-btn {
	margin: 10px;
	font-size: 25px;
	width: 140px;
	background-color: orange;
	color: black;
	border: black;
	cursor: pointer;
	border-radius: 10px;
	font-family: 'Unbounded', sans-serif;
}

.next-btn {
	bottom: 19%;
	left: 45%;
	position: absolute;
	border-radius: 10px;
	margin: 10px;
	font-size: 25px;
	width: 150px;
	background-color: black;
	cursor: pointer;
	font-family: 'Unbounded', sans-serif;
	border: black;
	color: white;
}

h1 {
	font-size: 50px;
	position: absolute;
	left: 40%;
	top: 10%;
	font-family: 'Gasoek One', sans-serif;
	font-weight: 400;
}

h2 {
	text-align: center;
	font-size: 30px;
	font-family: 'Unbounded', sans-serif;
}


.answer-btn {
	font-size: 30px;
	display: block;
	width: 800px;
	border-radius: 10px;
	border: black;
	margin: 10px;
	color: black;
	cursor: pointer;
	background-color: whitesmoke;
	font-family: 'Unbounded', sans-serif;
}

#options {
	padding-left: 10%;
}

.score {
	font-size: 30px;
}

.incorrectcolour {
	border-color: red !important;
	background-color: rgba(255, 18, 60, 0.47) !important;
}

.correctcolour {
	border-color: rgb(11, 124, 11) !important;
	background-color: rgba(0, 213, 61, 0.45) !important;
}

.message {
	background-color: black;
	height: 400px;
	width: 100%;
	position: absolute;
	bottom: 30%;
	color: orange;
	text-align: center;
	font-size: 40px;
	border-radius: 10px;
}

.hide {
	display: none;
}

.scoredpoints {
	color: red;
	font-size: 30px;
}

#scorebutton {
	display: none;
}

h5 {
	text-align: center;
	color: black;
	text-align: center;
	position: fixed;
	bottom: 0;
}
@media only screen and (max-width: 3000px) and (min-width: 1920px) {
	#quizcontainer {
		margin-left: 30%;
	}

}
@media only screen and (max-width: 1920px) and (min-width: 1300px) {
	#quizcontainer {
		margin-left: 20%;
	}

}
@media only screen and (max-width: 1300px) and (min-width: 1024px) {
	#quizcontainer {
		width: 800px;
		left: 20%;
	}

	.answer-btn {
		font-size: 20px;
		width: 600px;
		color: black;
	}

	h2 {
		font-size: 25px;
	}

	h3 {
		margin-left: auto;

	}

	.next-btn {
		bottom: 30%;
		left: 40%;
		font-size: 18px;
		color: white;
		border: 1px solid black;
	}

	h1 {
		font-family: 'Gasoek One', sans-serif;
		font-weight: 400;
		left: 40%;
	}

	.message {
		top: 120px;
		border-radius: 10px;
	}
}

@media only screen and (max-width: 1024px), (max-height:600px) {

	#quizcontainer {
	    left: 10%;
        top: 10px;

	}

	.answer-btn {
		font-size: 20px;
		width: 400px;
		color: black;
	}

	h2 {
		font-size: 25px;
	}

	.next-btn {
		bottom: 15%;
		left: 40%;
		font-size: 18px;
		color: white;
		background-color: black;
	}

	h1 {
		font-family: 'Gasoek One', sans-serif;
		font-weight: 400;
		left: 35%;
		top: 10px;
	}

	h3 {

		margin-left: 2%;
		margin-top: 150px;
	    font-size: x-large;

	}

	h5 {
		left: 30%;
	}

	#options {
		padding-left: 25%;
	}

	.message {
		top: 145px;
		margin: 0 5%;
		border-radius: 10px;
		width: 900px;
	}
}


@media only screen and (max-width: 820px) and (min-width: 540px) {

	#quizcontainer {
		width: 600px;
	}

	.answer-btn {
		font-size: 20px;
		width: 400px;
		color: black;
		background-color: whitesmoke;
	}

	h2 {
		font-size: 25px;
		font-family: 'Unbounded', sans-serif;
	}

	.next-btn {
		bottom: 25%;
		left: 40%;
		font-size: 20px;
		padding: 4px;
		color: white;
		background-color: black;
	}

	h1 {
		font-family: 'Gasoek One', sans-serif;
		font-weight: 400;
		left: 30%;
		top: 5%;
	}

	h3 {

		position: relative;
		margin-left: auto;
		top: 15px;
		text-align: center;
		font-size: x-large;
	}

	h5 {
		left: 30%;
		color: white;
	}

	#options {
		padding-left: 15%;
	}

	.message {
		top: 145px;
		width: 650px;
		margin: 0 10%;
	}
}

@media only screen and (max-width: 540px) and (min-width: 412px) {

	.next-btn {
		bottom: 10%;
		left: 50%;
		color: white;
		background-color: black;
	}
    .answer-btn {
	    color: black;
	    background-color: whitesmoke;
	    border: none;
}
	#quizcontainer {
		top: 40px;
		margin-right: 20%;
	}

	h1 {
	    margin-left: 50px;
        font-size: 40px;
	}

	h3 {
		left: 20%;
		margin-top: 190px;
	}

	.message {
	    width: 500px;
        top: 150px;
        left: 25%;
	    border-radius: 10px;
	}
}
  

/*mobile iphone 15 pro max / standard and below */
@media only screen and (max-width: 430px) and (min-width: 390px) {

	h1 {
		font-size: 40px;
		left: 5%;
		top: 20px;
		font-family: 'Gasoek One', sans-serif;
		font-weight: 400;
	}

	.answer-btn {
		font-size: 19px;
		width: 300px;
		right: 40%;

	}

	.answer-btn {
		border: none;
	}

	#quizcontainer {
		background: none;
		width: 300px;
		right: 100%;
	}

	h2 {
		font-size: 20px;
		font-family: 'Unbounded', sans-serif;
		width: 350px;
		text-align: center;
		padding-bottom: 10px;
	}
    h3 {
		left: 1px;
		top: 10px;
		font-size: medium;
	}

	h5 {
		left: auto;
	}
	.next-btn {
		bottom: 20%;
		left: 25%;
		font-size: 18px;
		color: white;
		background-color: black;

	}

	.message {
		width: 370px;
		left: 35px;
		border-radius: 10px;
	}
	.restart-btn {
		width: 140px;
		border: black;
	}

	#options {
		padding-left: 2%;
	}
}

/*390 px width*/

@media only screen and (max-width: 390px) and (min-width: 280px){

	h1 {
		top: 40px;
		left: 15%;
		width: 100%;
	}

	#quizcontainer {
		top: 50px;
		width: 350px;
		left: 10%;
	}
	
    .next-btn {
		left: 30%;
		bottom: 10%;
	}

	.answer-btn {
		width: 300px;
		font-size: large;

	}
    h5 {
		color: white;
		left: 10%;
	}
	h3 {
		left: 10%;
	}
	h2 {
		margin-left: 2%;
		font-size: large;
	}

    .message {
	margin: 0 5%;
    border-radius: 10px;
	width: 350px;
	}

	#options {
		padding-left: 2%;
	}

}
