@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@1000&family=Gasoek+One&family=Unbounded:wght@500&display=swap');

#quizcontainer {
	position: relative;
	top: 20px;
	display: inline-block;
	place-items: center;
	right: 20%;
	width: 1000px;
}

h3 {
    position: relative;
    margin-left: 35%;
    margin-top: 200px;
}

.restart-btn {
	margin: 10px;
	font-size: 25px;
	width: 140px;
	background-color: orange;
	color: black;
	border: black;
	cursor: pointer;
	border-radius: 10px;
	font-family: 'Unbounded', sans-serif;
}

.next-btn {
	bottom: 19%;
	left: 45%;
	position: absolute;
	border-radius: 10px;
	margin: 10px;
	font-size: 25px;
	width: 150px;
	background-color: black;
	cursor: pointer;
	font-family: 'Unbounded', sans-serif;
	border: black;
	color: white;
}

h1 {
	font-size: 50px;
	position: absolute;
	left: 42%;
	top: 10%;
	font-family: 'Gasoek One', sans-serif;
	font-weight: 400;
}

h2 {
	text-align: center;
	font-size: 30px;
	font-family: 'Unbounded', sans-serif;
}

.quiz {
	position: absolute;
	left: 30%;
	top: 30%;
}

.answer-btn {
	font-size: 30px;
	display: block;
	width: 800px;
	border-radius: 10px;
	border: black;
	margin: 10px;
	color: black;
	cursor: pointer;
	background-color: whitesmoke;
	font-family: 'Unbounded', sans-serif;
}

#options {
	padding-left: 10%;
}

.score {
	font-size: 30px;
}

.incorrectcolour {
	border-color: red !important;
	background-color: rgba(255, 18, 60, 0.47) !important;
}

.correctcolour {
	border-color: rgb(11, 124, 11) !important;
	background-color: rgba(0, 213, 61, 0.45) !important;
}

.message {
	background-color: black;
	height: 400px;
	width: 100%;
	position: absolute;
	bottom: 30%;
	color: orange;
	text-align: center;
	font-size: 40px;
	border-radius: 10px;
}

.hide {
	display: none;
}

.scoredpoints {
	color: red;
	font-size: 30px;
}

#scorebutton {
	display: none;
}

@media only screen and (max-width: 1300px) and (min-width: 1030px) {
	#quizcontainer {
		width: 800px;
	}

	.answer-btn {
		font-size: 20px;
		width: 600px;
		color: black;
	}

	h2 {
		font-size: 25px;
	}

	.next-btn {
		bottom: 30%;
		left: 40%;
		font-size: 18px;
		color: white;
		border: 1px solid black;
	}

	h1 {
		font-family: 'Gasoek One', sans-serif;
		font-weight: 400;
		left: 40%;
	}

	.message {
		top: 120px;
		border-radius: 10px;
	}
}

@media only screen and (max-width: 1030px) and (min-width: 768px) {

	#quizcontainer {
		width: 600px;
	}

	.answer-btn {
		font-size: 20px;
		width: 400px;
		color: black;
	}

	h2 {
		font-size: 25px;
	}

	.next-btn {
		bottom: 13%;
		left: 40%;
		font-size: 18px;
		color: white;
		border: 1px solid black;
		background-color: black;
	}

	h1 {
		font-family: 'Gasoek One', sans-serif;
		font-weight: 400;
		left: 35%;
	}

	#options {
		padding-left: 15%;
	}

	.message {
		top: 145px;
		margin: 0 2%;
		border-radius: 10px;
	}
}

@media only screen and (max-width: 768px) and (min-width: 540px) {

	#quizcontainer {
		width: 600px;
	}

	.answer-btn {
		font-size: 20px;
		width: 400px;
		color: black;
		background-color: whitesmoke;
	}

	h2 {
		font-size: 25px;
		font-family: 'Unbounded', sans-serif;
	}

	.next-btn {
		bottom: 30%;
		left: 40%;
		font-size: 20px;
		padding: 4px;
		color: white;
		background-color: black;
	}

	h1 {
		font-family: 'Gasoek One', sans-serif;
		font-weight: 400;
		left: 35%;
	}

	#options {
		padding-left: 15%;
	}

	.message {
		top: 145px;
	}
}

@media only screen and (max-width: 540px) and (min-width: 430px) {

	.next-btn {
		bottom: 10%;
		left: 50%;
		color: black;
		border: 1px solid black;
		background-color: hsla(46, 100%, 64%, 0.80);
	}
.answer-btn {
	color: black;
	background-color: whitesmoke;
	border: 1px solid black;
}
	#quizcontainer {
		top: 40px;
		margin-left: 5%;
	}

	h1 {
	margin-left: 50px;
    font-size: 40px;
	}

	.message {
	width: 500px;
    top: 150px;
    left: 25%;
	border-radius: 10px;
	}
}
  

/*mobile iphone 15 and below */
@media only screen and (max-width: 430px) and (min-width: 320px) {

	h1 {
		font-size: 40px;
		left: 10%;
		font-family: 'Gasoek One', sans-serif;
		font-weight: 400;
	}

	.answer-btn {
		font-size: 19px;
		width: 300px;
		right: 40%;

	}

	#quizcontainer {
		background: none;
		width: 100px;
		right: 100%;
	}

	h2 {
		font-size: 20px;
		font-family: 'Unbounded', sans-serif;
		width: 300px;
		padding-left: 10px;
		text-align: center;
		padding-bottom: 10px;
	}

	.next-btn {
		bottom: 6%;
		left: 25%;
		font-size: 18px;
		color: white;
		background-color: black;

	}

	.message {
		width: 370px;
		left: 35px;
		border-radius: 10px;
	}
	.restart-btn {
		width: 140px;
		border: black;
	}
}


  